<!DOCTYPE html>
<html>
<head>
    <title>OAuth Callback</title>
    <script>
        window.onload = function() {
            const hash = window.location.hash.substring(1);
            const params = new URLSearchParams(hash);
            const accessToken = params.get('access_token');
            
            if (accessToken) {
                window.opener.postMessage({
                    type: 'oauth-callback',
                    access_token: accessToken
                }, '*');
                window.close();
            }
        };
    </script>
</head>
<body>
    <p>Processing authentication...</p>
</body>
</html>
